/*
madogatari - style.css
created 2026/06/04
last edited 2026/07/15
*/
@media screen and (min-width: 767px) {
    .container {
        width: 50%;
    }
}


body {
    background-color: rgba(106, 119, 142, 1);
    color: #000;
    font-family: 'MS PGothic';
    font-size: clamp(16px, 1vw, 24px);
}

a:link {
    text-decoration: none;
    opacity:1.0;
    color: #255896;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

a:visited {
    color:#222c5d;
}

a:hover {
    cursor:help;
    color: #7794cf;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

a:active {
    color:#000; 
}

::selection {
    background-color:rgba(125, 160, 196, 0.5);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border: 1px solid #ffffff;
}
::-webkit-scrollbar-track {
    background-color: #000000;
}

.container {
    background-color: rgba(235, 235, 235, 0.5);
    margin: auto;       
    padding: 1px 10px;
    border: 5px solid rgba(47, 65, 89, 1);
}

.work {
    max-width: 215px;
}

#gallery {
    max-width: 75%;
    margin: auto;
}

#tape {
    font-family: monospace;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes borderflash {
    0% {
        border-color: #ff000d
    }

    25% {
        border-color: #0062ff
    }

    50% {
        border-color: #00ff2a
    }

    75% {
        border-color: #fff
    }
}

table {
    width: 100%;
    border: none;
    margin: 10px 5px auto;
    position: relative;
    text-align: left;
}