/*
madogatari - style.css
created 2026/06/04
last edited 2026/07/15
*/

body {
    background-color: rgba(106, 119, 142, 1);
    color: #000;
    font-family: 'MS PGothic';
    font-size: 20px;
}

a:link {
    text-decoration: none;
    opacity:1.0;
    color: #255896;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

a:visited {
    color:#222c5d;
}

a:hover {
    cursor:help;
    color: #7794cf;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

a:active {
    color:#000; 
}

::selection {
    background-color:rgba(125, 160, 196, 0.5);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border: 1px solid #ffffff;
}
::-webkit-scrollbar-track {
    background-color: #000000;
}

.container {
    background-color: rgba(235, 235, 235, 0.5);
    margin: auto;       
    padding: 1px 10px;
}

#gallery img {
    width: 100%;
}

#tape {
    font-family: monospace;
}

@media (min-width: 767px) {
    body {
        font-size: 16px;
    }

    .container {
        width: 50%;
    }

    #gallery img {
        max-width: 250px;
    }
}